@-ms-viewport{
    width: device-width;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size:cover;
}

.navbar
{
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block !important;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover
{
    color:purple;
    font-weight: bold;
}

.navbar li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
    letter-spacing: 5px;
    margin-right: 2rem;
}

.navbar-btn{
    padding-inline-start: 1px !important;
    float: right;
    display: none;
}
.ham_menu {
    width: 35px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem 0;
    border-radius: 1px;
    display: none;
}

.hidehamburger{
    visibility:hidden;
}
.rbox
{
    width: 600px;
    background: rgba(255, 255, 255, 0.37);
    padding: 40px;
    margin:auto;
}

.rbox
{
    color:white;
}

.notice a
{
    color:yellow;
}

.notice a:hover
{
    color:orange;
}